.pdf-header {
    border: 2px solid red;
    color: red;
    background: rgb(255, 255, 255);
    margin: 2px;
    padding: 2px;
    border-radius: 6px;
    text-align: center;
    font-size: 40px;
    line-height: 1px;
}

.pdf iframe{
    border: none;
}

@media (min-width: 500px) and (orientation: landscape) {
    .pdf-header {
        display: none;
    }
}

/* Custom styles */
#allPagesContainer {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.pdfPage {
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Hide overflowing content */
}

.pdfPage canvas {
    max-width: 100%;
    max-height: 100%;
}