body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

.loader {
    position: relative;
    width: 120px;
    height: 120px;
    border: 4px solid transparent;
    border-top: 8px solid red;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 89px;
    /* Add your logo background or content here */
    background-image: url('/images/logo-loading.png');
    background-size: cover;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.pdf-header {
    border: 2px solid red;
    color: red;
    background: rgb(255, 255, 255);
    margin: 2px;
    padding: 2px;
    border-radius: 6px;
    text-align: center;
    line-height: 1px;
}

.pdf iframe {
    border: none;
}



/* Custom styles */
#allPagesContainer {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.pdfPage {
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Hide overflowing content */
}

.pdfPage canvas {
    max-width: 100%;
    max-height: 100%;
}

/* CSS to style the download button */
#downloadButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    border-radius: 6px;
}

#downloadButton:hover {
    background-color: #45a049;
}

@media (min-width: 500px) and (orientation: landscape) {
    .pdf-header {
        display: none;
    }

    #downloadButton {
        display: none;
    }
}